@import url("https://use.typekit.net/jmk3xov.css");

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

:root {
  --dark-bg: rgba(35, 35, 35, 0.6);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal;
}

blockquote {
  font-family: elevon, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sky-tr {
  background-color: rgba(12, 74, 110, 0.5);
}
